a {
  text-decoration: none;
}

header {
  text-align: center;
  margin-top: 20px;
}

h1 a{
  font-size: 60px;
  color: #3b5998;
}

#pics {
  margin-top: 70px;
  text-align: center;
}

#pics h3 {
  margin-bottom: 20px;
  font-size: 26px;
}

#pics img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  outline: solid 1px #D3D3D3;
}

#tab {
  margin: 70px auto;
  text-align: center;
}

#tab tr td {
  padding: 8px 13px;
}
